{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    {% for article in  articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <!-- twig filters documentation -->
            <div class="metadata">
                Ecrit le {{ article.createdAt | date('d/m/Y') }} a  {{ article.createdAt | date('H:i') }} dans la categorie Politique
            </div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }} <!-- raw permet d'obtenir le contenu brut sinon le contenu sera echapper des caracteres-->
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
